.s_0
  stroke-dasharray 172 174
  stroke-dashoffset 173
  stroke-width 3px
  animation s_draw 800ms ease-in-out 0ms forwards

.s_1
  stroke-dasharray 172 174
  stroke-dashoffset 173
  stroke-width 3.65px
  animation s_draw 800ms ease-in-out 6ms forwards

.s_2
  stroke-dasharray 172 174
  stroke-dashoffset 173
  stroke-width 4.62px
  animation s_draw 800ms ease-in-out 13ms forwards

.s_3
  stroke-dasharray 172 174
  stroke-dashoffset 173
  stroke-width 6.32px
  animation s_draw 800ms ease-in-out 20ms forwards

.s_4
  stroke-dasharray 185 187
  stroke-dashoffset 186
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin miter
  animation s_draw 800ms ease-in-out 26ms forwards

.s_5
  stroke-dasharray 191 193
  stroke-dashoffset 192
  stroke-width 3.37px
  stroke-linecap square
  stroke-linejoin miter
  animation s_draw 800ms ease-in-out 33ms forwards

.s_6
  stroke-dasharray 205 207
  stroke-dashoffset 206
  stroke-width 4.48px
  stroke-linecap square
  stroke-linejoin miter
  animation s_draw 800ms ease-in-out 40ms forwards

.s_7
  stroke-dasharray 227 229
  stroke-dashoffset 228
  stroke-width 6.51px
  stroke-linecap square
  stroke-linejoin miter
  animation s_draw 800ms ease-in-out 46ms forwards

.s_8
  stroke-dasharray 18 20
  stroke-dashoffset 19
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin miter
  animation s_draw 800ms ease-in-out 53ms forwards

.s_9
  stroke-dasharray 19 21
  stroke-dashoffset 20
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin miter
  animation s_draw 800ms ease-in-out 60ms forwards

.s_10
  stroke-dasharray 19 21
  stroke-dashoffset 20
  stroke-width 2.61px
  stroke-linecap square
  stroke-linejoin miter
  animation s_draw 800ms ease-in-out 66ms forwards

.s_11
  stroke-dasharray 18 20
  stroke-dashoffset 19
  stroke-width 2.29px
  stroke-linecap square
  stroke-linejoin miter
  animation s_draw 800ms ease-in-out 73ms forwards

.s_12
  stroke-dasharray 139 141
  stroke-dashoffset 140
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 80ms forwards

.s_13
  stroke-dasharray 70 72
  stroke-dashoffset 71
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 86ms forwards

.s_14
  stroke-dasharray 70 72
  stroke-dashoffset 71
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 93ms forwards

.s_15
  stroke-dasharray 70 72
  stroke-dashoffset 71
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 100ms forwards

.s_16
  stroke-dasharray 61 63
  stroke-dashoffset 62
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 106ms forwards

.s_17
  stroke-dasharray 53 55
  stroke-dashoffset 54
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 113ms forwards

.s_18
  stroke-dasharray 45 47
  stroke-dashoffset 46
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 120ms forwards

.s_19
  stroke-dasharray 16 18
  stroke-dashoffset 17
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 126ms forwards

.s_20
  stroke-dasharray 16 18
  stroke-dashoffset 17
  stroke-width 2.52px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 133ms forwards

.s_21
  stroke-dasharray 16 18
  stroke-dashoffset 17
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 140ms forwards

.s_22
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 146ms forwards

.s_23
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 153ms forwards

.s_24
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 160ms forwards

.s_25
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 166ms forwards

.s_26
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 173ms forwards

.s_27
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 180ms forwards

.s_28
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 186ms forwards

.s_29
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 193ms forwards

.s_30
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 200ms forwards

.s_31
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 206ms forwards

.s_32
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 213ms forwards

.s_33
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 220ms forwards

.s_34
  stroke-dasharray 29 31
  stroke-dashoffset 30
  stroke-width 3px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 226ms forwards

.s_35
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.03px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 233ms forwards

.s_36
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.03px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 240ms forwards

.s_37
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.03px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 246ms forwards

.s_38
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.03px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 253ms forwards

.s_39
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 260ms forwards

.s_40
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 266ms forwards

.s_41
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 273ms forwards

.s_42
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 280ms forwards

.s_43
  stroke-dasharray 139 141
  stroke-dashoffset 140
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 286ms forwards

.s_44
  stroke-dasharray 76 78
  stroke-dashoffset 77
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 293ms forwards

.s_45
  stroke-dasharray 76 78
  stroke-dashoffset 77
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 300ms forwards

.s_46
  stroke-dasharray 139 141
  stroke-dashoffset 140
  stroke-width 2.75px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 306ms forwards

.s_47
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.96px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 313ms forwards

.s_48
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.17px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 320ms forwards

.s_49
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.38px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 326ms forwards

.s_50
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 2.96px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 333ms forwards

.s_51
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.17px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 340ms forwards

.s_52
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.38px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 346ms forwards

.s_53
  stroke-dasharray 153 155
  stroke-dashoffset 154
  stroke-width 3px
  animation s_draw 800ms ease-in-out 353ms forwards

.s_54
  stroke-dasharray 156 158
  stroke-dashoffset 157
  stroke-width 3.65px
  animation s_draw 800ms ease-in-out 360ms forwards

.s_55
  stroke-dasharray 161 163
  stroke-dashoffset 162
  stroke-width 4.62px
  animation s_draw 800ms ease-in-out 366ms forwards

.s_56
  stroke-dasharray 172 174
  stroke-dashoffset 173
  stroke-width 6.32px
  animation s_draw 800ms ease-in-out 373ms forwards

.s_57
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.48px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 380ms forwards

.s_58
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.48px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 386ms forwards

.s_59
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.48px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 393ms forwards

.s_60
  stroke-dasharray 62 64
  stroke-dashoffset 63
  stroke-width 3.48px
  stroke-linecap square
  stroke-linejoin bevel
  animation s_draw 800ms ease-in-out 400ms forwards

@keyframes s_draw
  100%
    stroke-dashoffset 0

@keyframes s_fade
  0%
    stroke-opacity 1
  92.5925925925926%
    stroke-opacity 1
  100%
    stroke-opacity 0
