.nav
  display flex
  position relative
  width 100%
  height 100%
  align-items flex-end
  position sticky

.list
  display flex
  flex-direction row
  width 100%
  height 50%
  margin 0
  padding 0
  list-style none
  justify-content space-between

.listItem
  display flex
  font-size 1.333rem
  line-height 0.9rem
  text-transform uppercase

.link
  display flex
  transition color 0.2s
  text-decoration none
  align-items flex-end

.active
  font-weight 600

.bar
  display block
  position absolute
  bottom -0.75rem
  left 0
  height 0.333rem
  transition transform 0.3s, opacity 0.3s
  transform-origin 0 0

