.s_0
  stroke-dasharray 42997 42999
  stroke-dashoffset 42998
  animation s_draw 10000ms ease-in-out 0ms forwards

.disableAnimation
  stroke-dashoffset 0 !important
  stroke-opacity 1 !important
  animation none !important

@keyframes s_draw
  100%
    stroke-dashoffset 0

@keyframes s_fade
  0%
    stroke-opacity 1
  97.1830985915493%
    stroke-opacity 1
  100%
    stroke-opacity 0
