.s_0
  stroke-dasharray 503 505
  stroke-dashoffset 504
  animation s_draw 1833ms ease-in-out 0ms forwards

.s_1
  stroke-dasharray 1288 1290
  stroke-dashoffset 1289
  animation s_draw 1833ms ease-in-out 2ms forwards

.s_2
  stroke-dasharray 1289 1291
  stroke-dashoffset 1290
  animation s_draw 1833ms ease-in-out 4ms forwards

.s_3
  stroke-dasharray 587 589
  stroke-dashoffset 588
  animation s_draw 1833ms ease-in-out 7ms forwards

.s_4
  stroke-dasharray 621 623
  stroke-dashoffset 622
  animation s_draw 1833ms ease-in-out 9ms forwards

.s_5
  stroke-dasharray 226 228
  stroke-dashoffset 227
  animation s_draw 1833ms ease-in-out 12ms forwards

.s_6
  stroke-dasharray 224 226
  stroke-dashoffset 225
  animation s_draw 1833ms ease-in-out 14ms forwards

.s_7
  stroke-dasharray 225 227
  stroke-dashoffset 226
  animation s_draw 1833ms ease-in-out 17ms forwards

.s_8
  stroke-dasharray 220 222
  stroke-dashoffset 221
  animation s_draw 1833ms ease-in-out 19ms forwards

.s_9
  stroke-dasharray 313 315
  stroke-dashoffset 314
  animation s_draw 1833ms ease-in-out 22ms forwards

.s_10
  stroke-dasharray 313 315
  stroke-dashoffset 314
  animation s_draw 1833ms ease-in-out 24ms forwards

.s_11
  stroke-dasharray 855 857
  stroke-dashoffset 856
  animation s_draw 1833ms ease-in-out 27ms forwards

.s_12
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 29ms forwards

.s_13
  stroke-dasharray 65 67
  stroke-dashoffset 66
  animation s_draw 1833ms ease-in-out 32ms forwards

.s_14
  stroke-dasharray 64 66
  stroke-dashoffset 65
  animation s_draw 1833ms ease-in-out 34ms forwards

.s_15
  stroke-dasharray 50 52
  stroke-dashoffset 51
  animation s_draw 1833ms ease-in-out 37ms forwards

.s_16
  stroke-dasharray 62 64
  stroke-dashoffset 63
  animation s_draw 1833ms ease-in-out 39ms forwards

.s_17
  stroke-dasharray 33 35
  stroke-dashoffset 34
  animation s_draw 1833ms ease-in-out 42ms forwards

.s_18
  stroke-dasharray 40 42
  stroke-dashoffset 41
  animation s_draw 1833ms ease-in-out 44ms forwards

.s_19
  stroke-dasharray 69 71
  stroke-dashoffset 70
  animation s_draw 1833ms ease-in-out 47ms forwards

.s_20
  stroke-dasharray 78 80
  stroke-dashoffset 79
  animation s_draw 1833ms ease-in-out 49ms forwards

.s_21
  stroke-dasharray 69 71
  stroke-dashoffset 70
  animation s_draw 1833ms ease-in-out 52ms forwards

.s_22
  stroke-dasharray 90 92
  stroke-dashoffset 91
  animation s_draw 1833ms ease-in-out 54ms forwards

.s_23
  stroke-dasharray 69 71
  stroke-dashoffset 70
  animation s_draw 1833ms ease-in-out 57ms forwards

.s_24
  stroke-dasharray 100 102
  stroke-dashoffset 101
  animation s_draw 1833ms ease-in-out 59ms forwards

.s_25
  stroke-dasharray 56 58
  stroke-dashoffset 57
  animation s_draw 1833ms ease-in-out 62ms forwards

.s_26
  stroke-dasharray 110 112
  stroke-dashoffset 111
  animation s_draw 1833ms ease-in-out 64ms forwards

.s_27
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 67ms forwards

.s_28
  stroke-dasharray 118 120
  stroke-dashoffset 119
  animation s_draw 1833ms ease-in-out 69ms forwards

.s_29
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 72ms forwards

.s_30
  stroke-dasharray 125 127
  stroke-dashoffset 126
  animation s_draw 1833ms ease-in-out 74ms forwards

.s_31
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 77ms forwards

.s_32
  stroke-dasharray 131 133
  stroke-dashoffset 132
  animation s_draw 1833ms ease-in-out 79ms forwards

.s_33
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 81ms forwards

.s_34
  stroke-dasharray 137 139
  stroke-dashoffset 138
  animation s_draw 1833ms ease-in-out 84ms forwards

.s_35
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 86ms forwards

.s_36
  stroke-dasharray 141 143
  stroke-dashoffset 142
  animation s_draw 1833ms ease-in-out 89ms forwards

.s_37
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 91ms forwards

.s_38
  stroke-dasharray 145 147
  stroke-dashoffset 146
  animation s_draw 1833ms ease-in-out 94ms forwards

.s_39
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 96ms forwards

.s_40
  stroke-dasharray 149 151
  stroke-dashoffset 150
  animation s_draw 1833ms ease-in-out 99ms forwards

.s_41
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 101ms forwards

.s_42
  stroke-dasharray 151 153
  stroke-dashoffset 152
  animation s_draw 1833ms ease-in-out 104ms forwards

.s_43
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 106ms forwards

.s_44
  stroke-dasharray 153 155
  stroke-dashoffset 154
  animation s_draw 1833ms ease-in-out 109ms forwards

.s_45
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 111ms forwards

.s_46
  stroke-dasharray 155 157
  stroke-dashoffset 156
  animation s_draw 1833ms ease-in-out 114ms forwards

.s_47
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 116ms forwards

.s_48
  stroke-dasharray 156 158
  stroke-dashoffset 157
  animation s_draw 1833ms ease-in-out 119ms forwards

.s_49
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 121ms forwards

.s_50
  stroke-dasharray 156 158
  stroke-dashoffset 157
  animation s_draw 1833ms ease-in-out 124ms forwards

.s_51
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 126ms forwards

.s_52
  stroke-dasharray 156 158
  stroke-dashoffset 157
  animation s_draw 1833ms ease-in-out 129ms forwards

.s_53
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 131ms forwards

.s_54
  stroke-dasharray 156 158
  stroke-dashoffset 157
  animation s_draw 1833ms ease-in-out 134ms forwards

.s_55
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 136ms forwards

.s_56
  stroke-dasharray 154 156
  stroke-dashoffset 155
  animation s_draw 1833ms ease-in-out 139ms forwards

.s_57
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 141ms forwards

.s_58
  stroke-dasharray 152 154
  stroke-dashoffset 153
  animation s_draw 1833ms ease-in-out 144ms forwards

.s_59
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 146ms forwards

.s_60
  stroke-dasharray 150 152
  stroke-dashoffset 151
  animation s_draw 1833ms ease-in-out 149ms forwards

.s_61
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 151ms forwards

.s_62
  stroke-dasharray 147 149
  stroke-dashoffset 148
  animation s_draw 1833ms ease-in-out 154ms forwards

.s_63
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 156ms forwards

.s_64
  stroke-dasharray 143 145
  stroke-dashoffset 144
  animation s_draw 1833ms ease-in-out 158ms forwards

.s_65
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 161ms forwards

.s_66
  stroke-dasharray 139 141
  stroke-dashoffset 140
  animation s_draw 1833ms ease-in-out 163ms forwards

.s_67
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 166ms forwards

.s_68
  stroke-dasharray 134 136
  stroke-dashoffset 135
  animation s_draw 1833ms ease-in-out 168ms forwards

.s_69
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 171ms forwards

.s_70
  stroke-dasharray 128 130
  stroke-dashoffset 129
  animation s_draw 1833ms ease-in-out 173ms forwards

.s_71
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 176ms forwards

.s_72
  stroke-dasharray 121 123
  stroke-dashoffset 122
  animation s_draw 1833ms ease-in-out 178ms forwards

.s_73
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 181ms forwards

.s_74
  stroke-dasharray 114 116
  stroke-dashoffset 115
  animation s_draw 1833ms ease-in-out 183ms forwards

.s_75
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 186ms forwards

.s_76
  stroke-dasharray 105 107
  stroke-dashoffset 106
  animation s_draw 1833ms ease-in-out 188ms forwards

.s_77
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 191ms forwards

.s_78
  stroke-dasharray 95 97
  stroke-dashoffset 96
  animation s_draw 1833ms ease-in-out 193ms forwards

.s_79
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 196ms forwards

.s_80
  stroke-dasharray 84 86
  stroke-dashoffset 85
  animation s_draw 1833ms ease-in-out 198ms forwards

.s_81
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 201ms forwards

.s_82
  stroke-dasharray 71 73
  stroke-dashoffset 72
  animation s_draw 1833ms ease-in-out 203ms forwards

.s_83
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 206ms forwards

.s_84
  stroke-dasharray 57 59
  stroke-dashoffset 58
  animation s_draw 1833ms ease-in-out 208ms forwards

.s_85
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 1833ms ease-in-out 211ms forwards

.s_86
  stroke-dasharray 41 43
  stroke-dashoffset 42
  animation s_draw 1833ms ease-in-out 213ms forwards

.s_87
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 216ms forwards

.s_88
  stroke-dasharray 38 40
  stroke-dashoffset 39
  animation s_draw 1833ms ease-in-out 218ms forwards

.s_89
  stroke-dasharray 42 44
  stroke-dashoffset 43
  animation s_draw 1833ms ease-in-out 221ms forwards

.s_90
  stroke-dasharray 12 14
  stroke-dashoffset 13
  animation s_draw 1833ms ease-in-out 223ms forwards

.s_91
  stroke-dasharray 1122 1124
  stroke-dashoffset 1123
  animation s_draw 1833ms ease-in-out 226ms forwards

.s_92
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 228ms forwards

.s_93
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 231ms forwards

.s_94
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 233ms forwards

.s_95
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 235ms forwards

.s_96
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 238ms forwards

.s_97
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 240ms forwards

.s_98
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 243ms forwards

.s_99
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 245ms forwards

.s_100
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 248ms forwards

.s_101
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 250ms forwards

.s_102
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 253ms forwards

.s_103
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 255ms forwards

.s_104
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 258ms forwards

.s_105
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 260ms forwards

.s_106
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 263ms forwards

.s_107
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 265ms forwards

.s_108
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 268ms forwards

.s_109
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 270ms forwards

.s_110
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 273ms forwards

.s_111
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 275ms forwards

.s_112
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 278ms forwards

.s_113
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 280ms forwards

.s_114
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 283ms forwards

.s_115
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 285ms forwards

.s_116
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 288ms forwards

.s_117
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 290ms forwards

.s_118
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 293ms forwards

.s_119
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 295ms forwards

.s_120
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 298ms forwards

.s_121
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 300ms forwards

.s_122
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 303ms forwards

.s_123
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 305ms forwards

.s_124
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 308ms forwards

.s_125
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 310ms forwards

.s_126
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 313ms forwards

.s_127
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 315ms forwards

.s_128
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 317ms forwards

.s_129
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 320ms forwards

.s_130
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 322ms forwards

.s_131
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 325ms forwards

.s_132
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 327ms forwards

.s_133
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 330ms forwards

.s_134
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 332ms forwards

.s_135
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 335ms forwards

.s_136
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 337ms forwards

.s_137
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 340ms forwards

.s_138
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 342ms forwards

.s_139
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 345ms forwards

.s_140
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 347ms forwards

.s_141
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 350ms forwards

.s_142
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 352ms forwards

.s_143
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 355ms forwards

.s_144
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 357ms forwards

.s_145
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 360ms forwards

.s_146
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 362ms forwards

.s_147
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 365ms forwards

.s_148
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 367ms forwards

.s_149
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 370ms forwards

.s_150
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 372ms forwards

.s_151
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 375ms forwards

.s_152
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 377ms forwards

.s_153
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 380ms forwards

.s_154
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 382ms forwards

.s_155
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 385ms forwards

.s_156
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 387ms forwards

.s_157
  stroke-dasharray 92 94
  stroke-dashoffset 93
  animation s_draw 1833ms ease-in-out 390ms forwards

.s_158
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 392ms forwards

.s_159
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 394ms forwards

.s_160
  stroke-dasharray 80 82
  stroke-dashoffset 81
  animation s_draw 1833ms ease-in-out 397ms forwards

.s_161
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 399ms forwards

.s_162
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 402ms forwards

.s_163
  stroke-dasharray 80 82
  stroke-dashoffset 81
  animation s_draw 1833ms ease-in-out 404ms forwards

.s_164
  stroke-dasharray 170 172
  stroke-dashoffset 171
  animation s_draw 1833ms ease-in-out 407ms forwards

.s_165
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 409ms forwards

.s_166
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 412ms forwards

.s_167
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 414ms forwards

.s_168
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 417ms forwards

.s_169
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 419ms forwards

.s_170
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 422ms forwards

.s_171
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 424ms forwards

.s_172
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 427ms forwards

.s_173
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 429ms forwards

.s_174
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 432ms forwards

.s_175
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 434ms forwards

.s_176
  stroke-dasharray 77 79
  stroke-dashoffset 78
  animation s_draw 1833ms ease-in-out 437ms forwards

.s_177
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 439ms forwards

.s_178
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 442ms forwards

.s_179
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 444ms forwards

.s_180
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 447ms forwards

.s_181
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 449ms forwards

.s_182
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 452ms forwards

.s_183
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 454ms forwards

.s_184
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 457ms forwards

.s_185
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 459ms forwards

.s_186
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 462ms forwards

.s_187
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 464ms forwards

.s_188
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 467ms forwards

.s_189
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 469ms forwards

.s_190
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 471ms forwards

.s_191
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 474ms forwards

.s_192
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 476ms forwards

.s_193
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 479ms forwards

.s_194
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 481ms forwards

.s_195
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 484ms forwards

.s_196
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 486ms forwards

.s_197
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 489ms forwards

.s_198
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 491ms forwards

.s_199
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 494ms forwards

.s_200
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 496ms forwards

.s_201
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 499ms forwards

.s_202
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 501ms forwards

.s_203
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 504ms forwards

.s_204
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 506ms forwards

.s_205
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 509ms forwards

.s_206
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 511ms forwards

.s_207
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 514ms forwards

.s_208
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 516ms forwards

.s_209
  stroke-dasharray 92 94
  stroke-dashoffset 93
  animation s_draw 1833ms ease-in-out 519ms forwards

.s_210
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 521ms forwards

.s_211
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 524ms forwards

.s_212
  stroke-dasharray 80 82
  stroke-dashoffset 81
  animation s_draw 1833ms ease-in-out 526ms forwards

.s_213
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 529ms forwards

.s_214
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 531ms forwards

.s_215
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 534ms forwards

.s_216
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 536ms forwards

.s_217
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 539ms forwards

.s_218
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 541ms forwards

.s_219
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 544ms forwards

.s_220
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 546ms forwards

.s_221
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 549ms forwards

.s_222
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 551ms forwards

.s_223
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 553ms forwards

.s_224
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 556ms forwards

.s_225
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 558ms forwards

.s_226
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 561ms forwards

.s_227
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 563ms forwards

.s_228
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 566ms forwards

.s_229
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 568ms forwards

.s_230
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 571ms forwards

.s_231
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 573ms forwards

.s_232
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 576ms forwards

.s_233
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 578ms forwards

.s_234
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 581ms forwards

.s_235
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 583ms forwards

.s_236
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 586ms forwards

.s_237
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 588ms forwards

.s_238
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 591ms forwards

.s_239
  stroke-dasharray 85 87
  stroke-dashoffset 86
  animation s_draw 1833ms ease-in-out 593ms forwards

.s_240
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 596ms forwards

.s_241
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 598ms forwards

.s_242
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 601ms forwards

.s_243
  stroke-dasharray 47 49
  stroke-dashoffset 48
  animation s_draw 1833ms ease-in-out 603ms forwards

.s_244
  stroke-dasharray 170 172
  stroke-dashoffset 171
  animation s_draw 1833ms ease-in-out 606ms forwards

.s_245
  stroke-dasharray 126 128
  stroke-dashoffset 127
  animation s_draw 1833ms ease-in-out 608ms forwards

.s_246
  stroke-dasharray 84 86
  stroke-dashoffset 85
  animation s_draw 1833ms ease-in-out 611ms forwards

.s_247
  stroke-dasharray 181 183
  stroke-dashoffset 182
  animation s_draw 1833ms ease-in-out 613ms forwards

.s_248
  stroke-dasharray 432 434
  stroke-dashoffset 433
  animation s_draw 1833ms ease-in-out 616ms forwards

.s_249
  stroke-dasharray 494 496
  stroke-dashoffset 495
  animation s_draw 1833ms ease-in-out 618ms forwards

.s_250
  stroke-dasharray 20 22
  stroke-dashoffset 21
  animation s_draw 1833ms ease-in-out 621ms forwards

.s_251
  stroke-dasharray 20 22
  stroke-dashoffset 21
  animation s_draw 1833ms ease-in-out 623ms forwards

.s_252
  stroke-dasharray 20 22
  stroke-dashoffset 21
  animation s_draw 1833ms ease-in-out 626ms forwards

.s_253
  stroke-dasharray 20 22
  stroke-dashoffset 21
  animation s_draw 1833ms ease-in-out 628ms forwards

.s_254
  stroke-dasharray 20 22
  stroke-dashoffset 21
  animation s_draw 1833ms ease-in-out 630ms forwards

.s_255
  stroke-dasharray 20 22
  stroke-dashoffset 21
  animation s_draw 1833ms ease-in-out 633ms forwards

.s_256
  stroke-dasharray 39 41
  stroke-dashoffset 40
  animation s_draw 1833ms ease-in-out 635ms forwards

.s_257
  stroke-dasharray 229 231
  stroke-dashoffset 230
  animation s_draw 1833ms ease-in-out 638ms forwards

.s_258
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 1833ms ease-in-out 640ms forwards

.s_259
  stroke-dasharray 39 41
  stroke-dashoffset 40
  animation s_draw 1833ms ease-in-out 643ms forwards

.s_260
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 1833ms ease-in-out 645ms forwards

.s_261
  stroke-dasharray 40 42
  stroke-dashoffset 41
  animation s_draw 1833ms ease-in-out 648ms forwards

.s_262
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 1833ms ease-in-out 650ms forwards

.s_263
  stroke-dasharray 37 39
  stroke-dashoffset 38
  animation s_draw 1833ms ease-in-out 653ms forwards

.s_264
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 1833ms ease-in-out 655ms forwards

.s_265
  stroke-dasharray 38 40
  stroke-dashoffset 39
  animation s_draw 1833ms ease-in-out 658ms forwards

.s_266
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 1833ms ease-in-out 660ms forwards

.s_267
  stroke-dasharray 37 39
  stroke-dashoffset 38
  animation s_draw 1833ms ease-in-out 663ms forwards

.s_268
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 1833ms ease-in-out 665ms forwards

.s_269
  stroke-dasharray 37 39
  stroke-dashoffset 38
  animation s_draw 1833ms ease-in-out 668ms forwards

.s_270
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 1833ms ease-in-out 670ms forwards

.s_271
  stroke-dasharray 36 38
  stroke-dashoffset 37
  animation s_draw 1833ms ease-in-out 673ms forwards

.s_272
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 1833ms ease-in-out 675ms forwards

.s_273
  stroke-dasharray 162 164
  stroke-dashoffset 163
  animation s_draw 1833ms ease-in-out 678ms forwards

.s_274
  stroke-dasharray 49 51
  stroke-dashoffset 50
  animation s_draw 1833ms ease-in-out 680ms forwards

.s_275
  stroke-dasharray 576 578
  stroke-dashoffset 577
  animation s_draw 1833ms ease-in-out 683ms forwards

.s_276
  stroke-dasharray 27 29
  stroke-dashoffset 28
  animation s_draw 1833ms ease-in-out 685ms forwards

.s_277
  stroke-dasharray 27 29
  stroke-dashoffset 28
  animation s_draw 1833ms ease-in-out 688ms forwards

.s_278
  stroke-dasharray 27 29
  stroke-dashoffset 28
  animation s_draw 1833ms ease-in-out 690ms forwards

.s_279
  stroke-dasharray 27 29
  stroke-dashoffset 28
  animation s_draw 1833ms ease-in-out 693ms forwards

.s_280
  stroke-dasharray 80 82
  stroke-dashoffset 81
  animation s_draw 1833ms ease-in-out 695ms forwards

.s_281
  stroke-dasharray 23 25
  stroke-dashoffset 24
  animation s_draw 1833ms ease-in-out 698ms forwards

.s_282
  stroke-dasharray 23 25
  stroke-dashoffset 24
  animation s_draw 1833ms ease-in-out 700ms forwards

.s_283
  stroke-dasharray 23 25
  stroke-dashoffset 24
  animation s_draw 1833ms ease-in-out 703ms forwards

.s_284
  stroke-dasharray 23 25
  stroke-dashoffset 24
  animation s_draw 1833ms ease-in-out 705ms forwards

.s_285
  stroke-dasharray 23 25
  stroke-dashoffset 24
  animation s_draw 1833ms ease-in-out 707ms forwards

.s_286
  stroke-dasharray 23 25
  stroke-dashoffset 24
  animation s_draw 1833ms ease-in-out 710ms forwards

.s_287
  stroke-dasharray 23 25
  stroke-dashoffset 24
  animation s_draw 1833ms ease-in-out 712ms forwards

.s_288
  stroke-dasharray 232 234
  stroke-dashoffset 233
  animation s_draw 1833ms ease-in-out 715ms forwards

.s_289
  stroke-dasharray 41 43
  stroke-dashoffset 42
  animation s_draw 1833ms ease-in-out 717ms forwards

.s_290
  stroke-dasharray 38 40
  stroke-dashoffset 39
  animation s_draw 1833ms ease-in-out 720ms forwards

.s_291
  stroke-dasharray 38 40
  stroke-dashoffset 39
  animation s_draw 1833ms ease-in-out 722ms forwards

.s_292
  stroke-dasharray 39 41
  stroke-dashoffset 40
  animation s_draw 1833ms ease-in-out 725ms forwards

.s_293
  stroke-dasharray 39 41
  stroke-dashoffset 40
  animation s_draw 1833ms ease-in-out 727ms forwards

.s_294
  stroke-dasharray 38 40
  stroke-dashoffset 39
  animation s_draw 1833ms ease-in-out 730ms forwards

.s_295
  stroke-dasharray 38 40
  stroke-dashoffset 39
  animation s_draw 1833ms ease-in-out 732ms forwards

.s_296
  stroke-dasharray 37 39
  stroke-dashoffset 38
  animation s_draw 1833ms ease-in-out 735ms forwards

.s_297
  stroke-dasharray 39 41
  stroke-dashoffset 40
  animation s_draw 1833ms ease-in-out 737ms forwards

.s_298
  stroke-dasharray 964 966
  stroke-dashoffset 965
  animation s_draw 1833ms ease-in-out 740ms forwards

.s_299
  stroke-dasharray 24 26
  stroke-dashoffset 25
  animation s_draw 1833ms ease-in-out 742ms forwards

.s_300
  stroke-dasharray 22 24
  stroke-dashoffset 23
  animation s_draw 1833ms ease-in-out 745ms forwards

.s_301
  stroke-dasharray 22 24
  stroke-dashoffset 23
  animation s_draw 1833ms ease-in-out 747ms forwards

.s_302
  stroke-dasharray 97 99
  stroke-dashoffset 98
  animation s_draw 1833ms ease-in-out 750ms forwards

.s_303
  stroke-dasharray 761 763
  stroke-dashoffset 762
  animation s_draw 1833ms ease-in-out 752ms forwards

.s_304
  stroke-dasharray 1471 1473
  stroke-dashoffset 1472
  animation s_draw 1833ms ease-in-out 755ms forwards

.s_305
  stroke-dasharray 59 61
  stroke-dashoffset 60
  animation s_draw 1833ms ease-in-out 757ms forwards

.s_306
  stroke-dasharray 34 36
  stroke-dashoffset 35
  animation s_draw 1833ms ease-in-out 760ms forwards

.s_307
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 1833ms ease-in-out 762ms forwards

.s_308
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 1833ms ease-in-out 765ms forwards

.s_309
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 1833ms ease-in-out 767ms forwards

.s_310
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 1833ms ease-in-out 770ms forwards

.s_311
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 1833ms ease-in-out 772ms forwards

.s_312
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 1833ms ease-in-out 775ms forwards

.s_313
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 1833ms ease-in-out 777ms forwards

.s_314
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 1833ms ease-in-out 780ms forwards

.s_315
  stroke-dasharray 641 643
  stroke-dashoffset 642
  animation s_draw 1833ms ease-in-out 782ms forwards

.s_316
  stroke-dasharray 342 344
  stroke-dashoffset 343
  animation s_draw 1833ms ease-in-out 785ms forwards

.s_317
  stroke-dasharray 83 85
  stroke-dashoffset 84
  animation s_draw 1833ms ease-in-out 787ms forwards

.s_318
  stroke-dasharray 83 85
  stroke-dashoffset 84
  animation s_draw 1833ms ease-in-out 789ms forwards

.s_319
  stroke-dasharray 41 43
  stroke-dashoffset 42
  animation s_draw 1833ms ease-in-out 792ms forwards

.s_320
  stroke-dasharray 54 56
  stroke-dashoffset 55
  animation s_draw 1833ms ease-in-out 794ms forwards

.s_321
  stroke-dasharray 30 32
  stroke-dashoffset 31
  animation s_draw 1833ms ease-in-out 797ms forwards

.s_322
  stroke-dasharray 394 396
  stroke-dashoffset 395
  animation s_draw 1833ms ease-in-out 799ms forwards

.s_323
  stroke-dasharray 195 197
  stroke-dashoffset 196
  animation s_draw 1833ms ease-in-out 802ms forwards

.s_324
  stroke-dasharray 134 136
  stroke-dashoffset 135
  animation s_draw 1833ms ease-in-out 804ms forwards

.s_325
  stroke-dasharray 239 241
  stroke-dashoffset 240
  animation s_draw 1833ms ease-in-out 807ms forwards

.s_326
  stroke-dasharray 457 459
  stroke-dashoffset 458
  animation s_draw 1833ms ease-in-out 809ms forwards

.s_327
  stroke-dasharray 305 307
  stroke-dashoffset 306
  animation s_draw 1833ms ease-in-out 812ms forwards

.s_328
  stroke-dasharray 66 68
  stroke-dashoffset 67
  animation s_draw 1833ms ease-in-out 814ms forwards

.s_329
  stroke-dasharray 233 235
  stroke-dashoffset 234
  animation s_draw 1833ms ease-in-out 817ms forwards

.s_330
  stroke-dasharray 369 371
  stroke-dashoffset 370
  animation s_draw 1833ms ease-in-out 819ms forwards

.s_331
  stroke-dasharray 209 211
  stroke-dashoffset 210
  animation s_draw 1833ms ease-in-out 822ms forwards

.s_332
  stroke-dasharray 94 96
  stroke-dashoffset 95
  animation s_draw 1833ms ease-in-out 824ms forwards

.s_333
  stroke-dasharray 94 96
  stroke-dashoffset 95
  animation s_draw 1833ms ease-in-out 827ms forwards

.s_334
  stroke-dasharray 94 96
  stroke-dashoffset 95
  animation s_draw 1833ms ease-in-out 829ms forwards

.s_335
  stroke-dasharray 94 96
  stroke-dashoffset 95
  animation s_draw 1833ms ease-in-out 832ms forwards

.s_336
  stroke-dasharray 89 91
  stroke-dashoffset 90
  animation s_draw 1833ms ease-in-out 834ms forwards

.s_337
  stroke-dasharray 161 163
  stroke-dashoffset 162
  animation s_draw 1833ms ease-in-out 837ms forwards

.s_338
  stroke-dasharray 174 176
  stroke-dashoffset 175
  animation s_draw 1833ms ease-in-out 839ms forwards

.s_339
  stroke-dasharray 12 14
  stroke-dashoffset 13
  animation s_draw 1833ms ease-in-out 842ms forwards

.s_340
  stroke-dasharray 978 980
  stroke-dashoffset 979
  animation s_draw 1833ms ease-in-out 844ms forwards

.s_341
  stroke-dasharray 66 68
  stroke-dashoffset 67
  animation s_draw 1833ms ease-in-out 847ms forwards

.s_342
  stroke-dasharray 177 179
  stroke-dashoffset 178
  animation s_draw 1833ms ease-in-out 849ms forwards

.s_343
  stroke-dasharray 111 113
  stroke-dashoffset 112
  animation s_draw 1833ms ease-in-out 852ms forwards

.s_344
  stroke-dasharray 679 681
  stroke-dashoffset 680
  animation s_draw 1833ms ease-in-out 854ms forwards

.s_345
  stroke-dasharray 339 341
  stroke-dashoffset 340
  animation s_draw 1833ms ease-in-out 857ms forwards

.s_346
  stroke-dasharray 71 73
  stroke-dashoffset 72
  animation s_draw 1833ms ease-in-out 859ms forwards

.s_347
  stroke-dasharray 71 73
  stroke-dashoffset 72
  animation s_draw 1833ms ease-in-out 862ms forwards

.s_348
  stroke-dasharray 954 956
  stroke-dashoffset 955
  animation s_draw 1833ms ease-in-out 864ms forwards

.s_349
  stroke-dasharray 40 42
  stroke-dashoffset 41
  animation s_draw 1833ms ease-in-out 866ms forwards

.s_350
  stroke-dasharray 151 153
  stroke-dashoffset 152
  animation s_draw 1833ms ease-in-out 869ms forwards

.s_351
  stroke-dasharray 53 55
  stroke-dashoffset 54
  animation s_draw 1833ms ease-in-out 871ms forwards

.s_352
  stroke-dasharray 73 75
  stroke-dashoffset 74
  animation s_draw 1833ms ease-in-out 874ms forwards

.s_353
  stroke-dasharray 18 20
  stroke-dashoffset 19
  animation s_draw 1833ms ease-in-out 876ms forwards

.s_354
  stroke-dasharray 143 145
  stroke-dashoffset 144
  animation s_draw 1833ms ease-in-out 879ms forwards

.s_355
  stroke-dasharray 61 63
  stroke-dashoffset 62
  animation s_draw 1833ms ease-in-out 881ms forwards

.s_356
  stroke-dasharray 73 75
  stroke-dashoffset 74
  animation s_draw 1833ms ease-in-out 884ms forwards

.s_357
  stroke-dasharray 250 252
  stroke-dashoffset 251
  animation s_draw 1833ms ease-in-out 886ms forwards

.s_358
  stroke-dasharray 371 373
  stroke-dashoffset 372
  animation s_draw 1833ms ease-in-out 889ms forwards

.s_359
  stroke-dasharray 118 120
  stroke-dashoffset 119
  animation s_draw 1833ms ease-in-out 891ms forwards

.s_360
  stroke-dasharray 80 82
  stroke-dashoffset 81
  animation s_draw 1833ms ease-in-out 894ms forwards

.s_361
  stroke-dasharray 69 71
  stroke-dashoffset 70
  animation s_draw 1833ms ease-in-out 896ms forwards

.s_362
  stroke-dasharray 262 264
  stroke-dashoffset 263
  animation s_draw 1833ms ease-in-out 899ms forwards

.s_363
  stroke-dasharray 112 114
  stroke-dashoffset 113
  animation s_draw 1833ms ease-in-out 901ms forwards

.s_364
  stroke-dasharray 39 41
  stroke-dashoffset 40
  animation s_draw 1833ms ease-in-out 904ms forwards

.s_365
  stroke-dasharray 1054 1056
  stroke-dashoffset 1055
  animation s_draw 1833ms ease-in-out 906ms forwards

.s_366
  stroke-dasharray 312 314
  stroke-dashoffset 313
  animation s_draw 1833ms ease-in-out 909ms forwards

.s_367
  stroke-dasharray 107 109
  stroke-dashoffset 108
  animation s_draw 1833ms ease-in-out 911ms forwards

.s_368
  stroke-dasharray 53 55
  stroke-dashoffset 54
  animation s_draw 1833ms ease-in-out 914ms forwards

.s_369
  stroke-dasharray 114 116
  stroke-dashoffset 115
  animation s_draw 1833ms ease-in-out 916ms forwards

.disableAnimation
  stroke-dashoffset 0 !important
  stroke-opacity 1 !important
  animation none !important

@keyframes s_draw
  100%
    stroke-dashoffset 0

@keyframes s_fade
  0%
    stroke-opacity 1
  94.24460431654676%
    stroke-opacity 1
  100%
    stroke-opacity 0
