.s_0
  stroke-dasharray 164 166
  stroke-dashoffset 165
  animation s_draw 800ms ease-in-out 700ms forwards

.s_1
  stroke-dasharray 59 61
  stroke-dashoffset 60
  animation s_draw 800ms ease-in-out 793ms forwards

.s_2
  stroke-dasharray 59 61
  stroke-dashoffset 60
  animation s_draw 800ms ease-in-out 887ms forwards

.s_3
  stroke-dasharray 17 19
  stroke-dashoffset 18
  animation s_draw 800ms ease-in-out 981ms forwards

.s_4
  stroke-dasharray 59 61
  stroke-dashoffset 60
  animation s_draw 800ms ease-in-out 1075ms forwards

.s_5
  stroke-dasharray 59 61
  stroke-dashoffset 60
  animation s_draw 800ms ease-in-out 1168ms forwards

.s_6
  stroke-dasharray 38 40
  stroke-dashoffset 39
  animation s_draw 800ms ease-in-out 1262ms forwards

.s_7
  stroke-dasharray 39 41
  stroke-dashoffset 40
  animation s_draw 800ms ease-in-out 1356ms forwards

.s_8
  stroke-dasharray 65 67
  stroke-dashoffset 66
  animation s_draw 800ms ease-in-out 1450ms forwards

.disableAnimation
  stroke-dashoffset 0 !important
  stroke-opacity 1 !important
  animation none !important

@keyframes s_draw
  100%
    stroke-dashoffset 0

@keyframes s_fade
  0%
    stroke-opacity 1
  93.04347826086956%
    stroke-opacity 1
  100%
    stroke-opacity 0
