h1Size = 2.5rem
h2Size = 2rem
h3Size = 1.5rem
h4Size = 1.25rem
h5Size = 1.1rem

.h1
.h2
.h3
.h4
.h5
  line-height 1
  margin 0 0 2rem
  &.giant
    margin 0 0 4rem

.h1
  font-size h1Size
  font-weight 600
  &.giant
    font-size h1Size * 2

.h2
  font-size h2Size
  font-weight 600
  &.giant
    font-size h2Size * 2

.h3
  font-size 1.5rem
  font-weight 600
  &.giant
    font-size h3Size * 2

.h4
  font-size 1.25rem
  font-weight 600
  &.giant
    font-size h4Size * 2

.h5
  font-size 1.1rem
  font-weight 600
  &.giant
    font-size h5Size * 2
