.switcher
  display flex
  position relative
  flex 1 0 auto
  flex-direction column
  transform-origin 0 0

.transition
  &:global(-enter)
    position absolute
    transform translateX(100px)
    opacity 0
    transform-origin top right
  &:global(-enter-active)
    transition 0.5s
    transform translateX(0);
    opacity 1
  &:global(-leave)
    transform translateX(0);
    opacity 1
    transform-origin top left
  &:global(-leave-active)
    transition 0.5s
    transform translateX(-100px)
    opacity 0

.notFound
  background #141414
  border 1px solid rgb(30,30,30)
  box-sizing border-box
  padding 10px
  color red !important
  font-size 32px
  text-shadow 1px 1px 1px black
  display flex
  align-items center
  justify-content center
