.ident
  display flex
  flex 0 1 auto
  flex-direction column
  justify-content center
  align-self center
  align-items center
  width 100%
  max-width 21rem
  padding 0 1.5rem

.strapline
  padding-top 0.75rem
  width 71%
