.ident
  display flex
  flex 0 1 auto
  flex-direction column
  justify-content center
  align-self center
  align-items center
  width 100%
  max-width 28rem
  padding 0 2rem

.strapline
  padding-top 1rem
  width 71%
