.separator
  overflow hidden
  margin 3rem 0 0

.degree
  font-weight bold

.placeOfStudy
  //

.additionalNotes
  font-size 0.8125em

.workEligibilityTitle
  font-weight bold

.workEligibilityValue
  //

.workHistory
.workEligibility
  display flex
  width 100%
  flex-direction row
  flex-wrap wrap
  justify-content stretch
  margin 0 -1rem
  padding 0
  list-style none

.workHistoryItem
.workEligibilityItem
  min-width 300px
  flex 1 1 50%
  padding 1rem

.workEligibilityItem
  padding-bottom 0

.dates
  //

.position
  font-weight bold

.description
  text-align justify
  font-size 0.8125em
