@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600')

*
*:before
*:after
  box-sizing border-box

html
body
  width 100%
  height 100%
  font-size 16px
  margin 0
  font-family: 'Montserrat', sans-serif;
  font-smoothing antialiased

html
  overflow-x hidden
  overflow-y scroll

body
  transition background-color 0.5s

:global(#root)
  display flex
  flex-direction column
  width 100%
  min-height 100%
  flex 1 1 100%

.mobileHeraldry
  display flex
  flex-direction column
  min-height 91vh
  width 100%
  justify-content stretch

.mobileBranding
  display flex
  flex-direction column
  flex 1 0 auto

.mobilePageIdent
  flex 0 1 auto
  padding 0 0.5rem 0 0
  margin 0
  line-height 0

.navigationPane
.heraldry
  display flex
  align-items stretch
  width 100%
  z-index 1

.navigationPane
  flex-direction column

.heraldry
  flex-direction row

.left
  display flex
  flex 0 1 33.333%
  flex-direction column

.right
  display flex
  flex 1 0 66.666%
  padding 0 3rem 0 1.5rem
  flex-direction column

.contentPane
  display flex
  flex-direction row
  flex 1 0 auto
  flex-wrap wrap
  font-size 1rem
  line-height 1.8

  &:global(.medium)
  &:global(.small)
  &:global(.extraSmall)
    display block
    position relative

  &:global(.medium)
    .left
      display flex
      height 100vh
      width 33.333%
      position fixed
      top 0
  
    .right
      display block
      position relative
      margin-left 33.333%
      flex none
  
  &:global(.small)
  &:global(.extraSmall)
    margin-top 9vh

.pageIdent
  display flex
  flex 1 0 auto
  flex-direction column
  justify-content flex-end
  margin 0
  padding 0
  position fixed
  bottom 0
  width 33.333%

  :global(.medium) &
    flex 1 1 auto
    width 100%
    position relative

.content
  transition color 0.2s 0.5s
  padding-bottom 3rem

  &.mobileContent
    padding 0 3rem 2rem 1rem

.footerIdent
  display block
  width 100%
  padding 0
  margin 0
  line-height 0
