.container
  display flex
  flex-direction row

.sidebar
  display flex
  flex 0 1 33%
  flex-direction column

.brandIdent
  flex 0 1 auto

.pageIdent
  flex 1 0 auto

.contentPane
  display flex
  flex 1 0 auto
  flex-direction column

.nav
  flex 0 1 auto
  padding-bottom 2rem

.navList
  padding 0
  margin 0
  list-style none

.content
  flex 1 0 auto
