.s_0
  stroke-dasharray 429 431
  stroke-dashoffset 430
  animation s_draw 2000ms ease-in-out 1500ms forwards

.s_1
  stroke-dasharray 204 206
  stroke-dashoffset 205
  animation s_draw 2000ms ease-in-out 6ms forwards

.s_2
  stroke-dasharray 731 733
  stroke-dashoffset 732
  animation s_draw 2000ms ease-in-out 13ms forwards

.s_3
  stroke-dasharray 91 93
  stroke-dashoffset 92
  animation s_draw 2000ms ease-in-out 20ms forwards

.s_4
  stroke-dasharray 90 92
  stroke-dashoffset 91
  animation s_draw 2000ms ease-in-out 27ms forwards

.s_5
  stroke-dasharray 81 83
  stroke-dashoffset 82
  animation s_draw 2000ms ease-in-out 33ms forwards

.s_6
  stroke-dasharray 128 130
  stroke-dashoffset 129
  animation s_draw 2000ms ease-in-out 40ms forwards

.s_7
  stroke-dasharray 216 218
  stroke-dashoffset 217
  animation s_draw 2000ms ease-in-out 47ms forwards

.s_8
  stroke-dasharray 181 183
  stroke-dashoffset 182
  animation s_draw 2000ms ease-in-out 54ms forwards

.s_9
  stroke-dasharray 74 76
  stroke-dashoffset 75
  animation s_draw 2000ms ease-in-out 60ms forwards

.s_10
  stroke-dasharray 302 304
  stroke-dashoffset 303
  animation s_draw 2000ms ease-in-out 67ms forwards

.s_11
  stroke-dasharray 62 64
  stroke-dashoffset 63
  animation s_draw 2000ms ease-in-out 74ms forwards

.s_12
  stroke-dasharray 80 82
  stroke-dashoffset 81
  animation s_draw 2000ms ease-in-out 81ms forwards

.s_13
  stroke-dasharray 126 128
  stroke-dashoffset 127
  animation s_draw 2000ms ease-in-out 87ms forwards

.s_14
  stroke-dasharray 105 107
  stroke-dashoffset 106
  animation s_draw 2000ms ease-in-out 94ms forwards

.s_15
  stroke-dasharray 90 92
  stroke-dashoffset 91
  animation s_draw 2000ms ease-in-out 101ms forwards

.s_16
  stroke-dasharray 225 227
  stroke-dashoffset 226
  animation s_draw 2000ms ease-in-out 108ms forwards

.s_17
  stroke-dasharray 13 15
  stroke-dashoffset 14
  animation s_draw 2000ms ease-in-out 114ms forwards

.s_18
  stroke-dasharray 16 18
  stroke-dashoffset 17
  animation s_draw 2000ms ease-in-out 121ms forwards

.s_19
  stroke-dasharray 13 15
  stroke-dashoffset 14
  animation s_draw 2000ms ease-in-out 128ms forwards

.s_20
  stroke-dasharray 134 136
  stroke-dashoffset 135
  animation s_draw 2000ms ease-in-out 135ms forwards

.s_21
  stroke-dasharray 124 126
  stroke-dashoffset 125
  animation s_draw 2000ms ease-in-out 141ms forwards

.s_22
  stroke-dasharray 19 21
  stroke-dashoffset 20
  animation s_draw 2000ms ease-in-out 148ms forwards

.s_23
  stroke-dasharray 80 82
  stroke-dashoffset 81
  animation s_draw 2000ms ease-in-out 155ms forwards

.s_24
  stroke-dasharray 22 24
  stroke-dashoffset 23
  animation s_draw 2000ms ease-in-out 162ms forwards

.s_25
  stroke-dasharray 21 23
  stroke-dashoffset 22
  animation s_draw 2000ms ease-in-out 168ms forwards

.s_26
  stroke-dasharray 58 60
  stroke-dashoffset 59
  animation s_draw 2000ms ease-in-out 175ms forwards

.s_27
  stroke-dasharray 35 37
  stroke-dashoffset 36
  animation s_draw 2000ms ease-in-out 182ms forwards

.s_28
  stroke-dasharray 19 21
  stroke-dashoffset 20
  animation s_draw 2000ms ease-in-out 189ms forwards

.s_29
  stroke-dasharray 17 19
  stroke-dashoffset 18
  animation s_draw 2000ms ease-in-out 195ms forwards

.s_30
  stroke-dasharray 88 90
  stroke-dashoffset 89
  animation s_draw 2000ms ease-in-out 202ms forwards

.s_31
  stroke-dasharray 310 312
  stroke-dashoffset 311
  animation s_draw 2000ms ease-in-out 209ms forwards

.s_32
  stroke-dasharray 33 35
  stroke-dashoffset 34
  animation s_draw 2000ms ease-in-out 216ms forwards

.s_33
  stroke-dasharray 27 29
  stroke-dashoffset 28
  animation s_draw 2000ms ease-in-out 222ms forwards

.s_34
  stroke-dasharray 121 123
  stroke-dashoffset 122
  animation s_draw 2000ms ease-in-out 229ms forwards

.s_35
  stroke-dasharray 44 46
  stroke-dashoffset 45
  animation s_draw 2000ms ease-in-out 236ms forwards

.s_36
  stroke-dasharray 150 152
  stroke-dashoffset 151
  animation s_draw 2000ms ease-in-out 243ms forwards

.s_37
  stroke-dasharray 278 280
  stroke-dashoffset 279
  animation s_draw 2000ms ease-in-out 250ms forwards

.s_38
  stroke-dasharray 37 39
  stroke-dashoffset 38
  animation s_draw 2000ms ease-in-out 256ms forwards

.s_39
  stroke-dasharray 143 145
  stroke-dashoffset 144
  animation s_draw 2000ms ease-in-out 263ms forwards

.s_40
  stroke-dasharray 109 111
  stroke-dashoffset 110
  animation s_draw 2000ms ease-in-out 270ms forwards

.s_41
  stroke-dasharray 83 85
  stroke-dashoffset 84
  animation s_draw 2000ms ease-in-out 277ms forwards

.s_42
  stroke-dasharray 368 370
  stroke-dashoffset 369
  animation s_draw 2000ms ease-in-out 283ms forwards

.s_43
  stroke-dasharray 260 262
  stroke-dashoffset 261
  animation s_draw 2000ms ease-in-out 290ms forwards

.s_44
  stroke-dasharray 595 597
  stroke-dashoffset 596
  animation s_draw 2000ms ease-in-out 297ms forwards

.s_45
  stroke-dasharray 96 98
  stroke-dashoffset 97
  animation s_draw 2000ms ease-in-out 304ms forwards

.s_46
  stroke-dasharray 242 244
  stroke-dashoffset 243
  animation s_draw 2000ms ease-in-out 310ms forwards

.s_47
  stroke-dasharray 499 501
  stroke-dashoffset 500
  animation s_draw 2000ms ease-in-out 317ms forwards

.s_48
  stroke-dasharray 26 28
  stroke-dashoffset 27
  animation s_draw 2000ms ease-in-out 324ms forwards

.s_49
  stroke-dasharray 102 104
  stroke-dashoffset 103
  animation s_draw 2000ms ease-in-out 331ms forwards

.s_50
  stroke-dasharray 20 22
  stroke-dashoffset 21
  animation s_draw 2000ms ease-in-out 337ms forwards

.s_51
  stroke-dasharray 58 60
  stroke-dashoffset 59
  animation s_draw 2000ms ease-in-out 344ms forwards

.s_52
  stroke-dasharray 27 29
  stroke-dashoffset 28
  animation s_draw 2000ms ease-in-out 351ms forwards

.s_53
  stroke-dasharray 24 26
  stroke-dashoffset 25
  animation s_draw 2000ms ease-in-out 358ms forwards

.s_54
  stroke-dasharray 81 83
  stroke-dashoffset 82
  animation s_draw 2000ms ease-in-out 364ms forwards

.s_55
  stroke-dasharray 96 98
  stroke-dashoffset 97
  animation s_draw 2000ms ease-in-out 371ms forwards

.s_56
  stroke-dasharray 61 63
  stroke-dashoffset 62
  animation s_draw 2000ms ease-in-out 378ms forwards

.s_57
  stroke-dasharray 26 28
  stroke-dashoffset 27
  animation s_draw 2000ms ease-in-out 385ms forwards

.s_58
  stroke-dasharray 29 31
  stroke-dashoffset 30
  animation s_draw 2000ms ease-in-out 391ms forwards

.s_59
  stroke-dasharray 25 27
  stroke-dashoffset 26
  animation s_draw 2000ms ease-in-out 398ms forwards

.s_60
  stroke-dasharray 24 26
  stroke-dashoffset 25
  animation s_draw 2000ms ease-in-out 405ms forwards

.s_61
  stroke-dasharray 51 53
  stroke-dashoffset 52
  animation s_draw 2000ms ease-in-out 412ms forwards

.s_62
  stroke-dasharray 26 28
  stroke-dashoffset 27
  animation s_draw 2000ms ease-in-out 418ms forwards

.s_63
  stroke-dasharray 161 163
  stroke-dashoffset 162
  animation s_draw 2000ms ease-in-out 425ms forwards

.s_64
  stroke-dasharray 62 64
  stroke-dashoffset 63
  animation s_draw 2000ms ease-in-out 432ms forwards

.s_65
  stroke-dasharray 51 53
  stroke-dashoffset 52
  animation s_draw 2000ms ease-in-out 439ms forwards

.s_66
  stroke-dasharray 24 26
  stroke-dashoffset 25
  animation s_draw 2000ms ease-in-out 445ms forwards

.s_67
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 2000ms ease-in-out 452ms forwards

.s_68
  stroke-dasharray 88 90
  stroke-dashoffset 89
  animation s_draw 2000ms ease-in-out 459ms forwards

.s_69
  stroke-dasharray 166 168
  stroke-dashoffset 167
  animation s_draw 2000ms ease-in-out 466ms forwards

.s_70
  stroke-dasharray 76 78
  stroke-dashoffset 77
  animation s_draw 2000ms ease-in-out 472ms forwards

.s_71
  stroke-dasharray 252 254
  stroke-dashoffset 253
  animation s_draw 2000ms ease-in-out 479ms forwards

.s_72
  stroke-dasharray 104 106
  stroke-dashoffset 105
  animation s_draw 2000ms ease-in-out 486ms forwards

.s_73
  stroke-dasharray 241 243
  stroke-dashoffset 242
  animation s_draw 2000ms ease-in-out 493ms forwards

.s_74
  stroke-dasharray 114 116
  stroke-dashoffset 115
  animation s_draw 2000ms ease-in-out 500ms forwards

.s_75
  stroke-dasharray 103 105
  stroke-dashoffset 104
  animation s_draw 2000ms ease-in-out 506ms forwards

.s_76
  stroke-dasharray 69 71
  stroke-dashoffset 70
  animation s_draw 2000ms ease-in-out 513ms forwards

.s_77
  stroke-dasharray 77 79
  stroke-dashoffset 78
  animation s_draw 2000ms ease-in-out 520ms forwards

.s_78
  stroke-dasharray 52 54
  stroke-dashoffset 53
  animation s_draw 2000ms ease-in-out 527ms forwards

.s_79
  stroke-dasharray 53 55
  stroke-dashoffset 54
  animation s_draw 2000ms ease-in-out 533ms forwards

.s_80
  stroke-dasharray 48 50
  stroke-dashoffset 49
  animation s_draw 2000ms ease-in-out 540ms forwards

.s_81
  stroke-dasharray 61 63
  stroke-dashoffset 62
  animation s_draw 2000ms ease-in-out 547ms forwards

.s_82
  stroke-dasharray 28 30
  stroke-dashoffset 29
  animation s_draw 2000ms ease-in-out 554ms forwards

.s_83
  stroke-dasharray 31 33
  stroke-dashoffset 32
  animation s_draw 2000ms ease-in-out 560ms forwards

.s_84
  stroke-dasharray 45 47
  stroke-dashoffset 46
  animation s_draw 2000ms ease-in-out 567ms forwards

.s_85
  stroke-dasharray 45 47
  stroke-dashoffset 46
  animation s_draw 2000ms ease-in-out 574ms forwards

.s_86
  stroke-dasharray 29 31
  stroke-dashoffset 30
  animation s_draw 2000ms ease-in-out 581ms forwards

.s_87
  stroke-dasharray 23 25
  stroke-dashoffset 24
  animation s_draw 2000ms ease-in-out 587ms forwards

.s_88
  stroke-dasharray 26 28
  stroke-dashoffset 27
  animation s_draw 2000ms ease-in-out 594ms forwards

.s_89
  stroke-dasharray 74 76
  stroke-dashoffset 75
  animation s_draw 2000ms ease-in-out 601ms forwards

.s_90
  stroke-dasharray 38 40
  stroke-dashoffset 39
  animation s_draw 2000ms ease-in-out 608ms forwards

.s_91
  stroke-dasharray 73 75
  stroke-dashoffset 74
  animation s_draw 2000ms ease-in-out 614ms forwards

.s_92
  stroke-dasharray 151 153
  stroke-dashoffset 152
  animation s_draw 2000ms ease-in-out 621ms forwards

.s_93
  stroke-dasharray 72 74
  stroke-dashoffset 73
  animation s_draw 2000ms ease-in-out 628ms forwards

.s_94
  stroke-dasharray 245 247
  stroke-dashoffset 246
  animation s_draw 2000ms ease-in-out 635ms forwards

.s_95
  stroke-dasharray 119 121
  stroke-dashoffset 120
  animation s_draw 2000ms ease-in-out 641ms forwards

.s_96
  stroke-dasharray 65 67
  stroke-dashoffset 66
  animation s_draw 2000ms ease-in-out 648ms forwards

.s_97
  stroke-dasharray 78 80
  stroke-dashoffset 79
  animation s_draw 2000ms ease-in-out 655ms forwards

.s_98
  stroke-dasharray 83 85
  stroke-dashoffset 84
  animation s_draw 2000ms ease-in-out 662ms forwards

.s_99
  stroke-dasharray 55 57
  stroke-dashoffset 56
  animation s_draw 2000ms ease-in-out 668ms forwards

.s_100
  stroke-dasharray 294 296
  stroke-dashoffset 295
  animation s_draw 2000ms ease-in-out 675ms forwards

.s_101
  stroke-dasharray 110 112
  stroke-dashoffset 111
  animation s_draw 2000ms ease-in-out 682ms forwards

.s_102
  stroke-dasharray 87 89
  stroke-dashoffset 88
  animation s_draw 2000ms ease-in-out 689ms forwards

.s_103
  stroke-dasharray 182 184
  stroke-dashoffset 183
  animation s_draw 2000ms ease-in-out 695ms forwards

.s_104
  stroke-dasharray 65 67
  stroke-dashoffset 66
  animation s_draw 2000ms ease-in-out 702ms forwards

.s_105
  stroke-dasharray 111 113
  stroke-dashoffset 112
  animation s_draw 2000ms ease-in-out 709ms forwards

.s_106
  stroke-dasharray 87 89
  stroke-dashoffset 88
  animation s_draw 2000ms ease-in-out 716ms forwards

.s_107
  stroke-dasharray 16 18
  stroke-dashoffset 17
  animation s_draw 2000ms ease-in-out 722ms forwards

.s_108
  stroke-dasharray 40 42
  stroke-dashoffset 41
  animation s_draw 2000ms ease-in-out 729ms forwards

.s_109
  stroke-dasharray 561 563
  stroke-dashoffset 562
  animation s_draw 2000ms ease-in-out 736ms forwards

.s_110
  stroke-dasharray 760 762
  stroke-dashoffset 761
  animation s_draw 2000ms ease-in-out 743ms forwards

.s_111
  stroke-dasharray 500 502
  stroke-dashoffset 501
  animation s_draw 2000ms ease-in-out 750ms forwards

.s_112
  stroke-dasharray 556 558
  stroke-dashoffset 557
  animation s_draw 2000ms ease-in-out 756ms forwards

.s_113
  stroke-dasharray 1378 1380
  stroke-dashoffset 1379
  animation s_draw 2000ms ease-in-out 763ms forwards

.s_114
  stroke-dasharray 145 147
  stroke-dashoffset 146
  animation s_draw 2000ms ease-in-out 770ms forwards

.s_115
  stroke-dasharray 189 191
  stroke-dashoffset 190
  animation s_draw 2000ms ease-in-out 777ms forwards

.s_116
  stroke-dasharray 191 193
  stroke-dashoffset 192
  animation s_draw 2000ms ease-in-out 783ms forwards

.s_117
  stroke-dasharray 139 141
  stroke-dashoffset 140
  animation s_draw 2000ms ease-in-out 1790ms forwards

.s_118
  stroke-dasharray 78 80
  stroke-dashoffset 79
  animation s_draw 2000ms ease-in-out 797ms forwards

.s_119
  stroke-dasharray 276 278
  stroke-dashoffset 277
  animation s_draw 2000ms ease-in-out 804ms forwards

.s_120
  stroke-dasharray 591 593
  stroke-dashoffset 592
  animation s_draw 2000ms ease-in-out 810ms forwards

.s_121
  stroke-dasharray 787 789
  stroke-dashoffset 788
  animation s_draw 2000ms ease-in-out 817ms forwards

.s_122
  stroke-dasharray 133 135
  stroke-dashoffset 134
  animation s_draw 2000ms ease-in-out 824ms forwards

.s_123
  stroke-dasharray 142 144
  stroke-dashoffset 143
  animation s_draw 2000ms ease-in-out 831ms forwards

.s_124
  stroke-dasharray 88 90
  stroke-dashoffset 89
  animation s_draw 2000ms ease-in-out 837ms forwards

.s_125
  stroke-dasharray 43 45
  stroke-dashoffset 44
  animation s_draw 2000ms ease-in-out 844ms forwards

.s_126
  stroke-dasharray 179 181
  stroke-dashoffset 180
  animation s_draw 2000ms ease-in-out 851ms forwards

.s_127
  stroke-dasharray 6 8
  stroke-dashoffset 7
  animation s_draw 2000ms ease-in-out 858ms forwards

.s_128
  stroke-dasharray 351 353
  stroke-dashoffset 352
  animation s_draw 2000ms ease-in-out 864ms forwards

.s_129
  stroke-dasharray 46 48
  stroke-dashoffset 47
  animation s_draw 2000ms ease-in-out 871ms forwards

.s_130
  stroke-dasharray 46 48
  stroke-dashoffset 47
  animation s_draw 2000ms ease-in-out 878ms forwards

.s_131
  stroke-dasharray 46 48
  stroke-dashoffset 47
  animation s_draw 2000ms ease-in-out 885ms forwards

.s_132
  stroke-dasharray 46 48
  stroke-dashoffset 47
  animation s_draw 2000ms ease-in-out 891ms forwards

.s_133
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 898ms forwards

.s_134
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 905ms forwards

.s_135
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 912ms forwards

.s_136
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 918ms forwards

.s_137
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 925ms forwards

.s_138
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 932ms forwards

.s_139
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 939ms forwards

.s_140
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 945ms forwards

.s_141
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 952ms forwards

.s_142
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 959ms forwards

.s_143
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 966ms forwards

.s_144
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 972ms forwards

.s_145
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 979ms forwards

.s_146
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 986ms forwards

.s_147
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 993ms forwards

.s_148
  stroke-dasharray 7 9
  stroke-dashoffset 8
  animation s_draw 2000ms ease-in-out 1000ms forwards

.disableAnimation
  stroke-dashoffset 0 !important
  stroke-opacity 1 !important
  animation none !important

@keyframes s_draw
  100%
    stroke-dashoffset 0

@keyframes s_fade
  0%
    stroke-opacity 1
  94.44444444444444%
    stroke-opacity 1
  100%
    stroke-opacity 0
