.s_0
  stroke-dasharray 900 900
  stroke-dashoffset 900
  animation s_draw 1700ms ease-in-out 0ms 1 normal forwards running

.disableAnimation
  stroke-dashoffset 0 !important
  stroke-opacity 1 !important
  animation none !important

@keyframes s_draw
  100%
    stroke-dashoffset 0

@keyframes s_fade
  0%
    stroke-opacity 1
  97.1830985915493%
    stroke-opacity 1
  100%
    stroke-opacity 0
